.link-list__item {
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.13;
}

.link-list__item:hover {
  opacity: 0.8;
}

@media screen and (max-width: 400px) {
  .link-list__item {
    font-size: 24px;
    line-height: 1;
  }  
}