.lang__lang-link {
  color: #FFFFFF;
  font-style: normal;
  font-size: 24px;
  line-height: 1.17;
  text-align: right;
}

@media (any-hover: hover) {
  .lang__lang-link:hover {
    opacity: 0.8;
  }
}

@media screen and (max-width: 350px) {
  .lang__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}
