.figure__caption {
  margin-top: 6px;
  font-style: normal;
  font-size: 10px;
  line-height: 116%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  .figure__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 400px) {
  .figure__caption {
    margin-left: 15px;
  }
}