.place__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 161%;
  margin: 0;
}

.place__paragraph:first-child {
  margin-bottom: 27px;
}

@media screen and (max-width: 800px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
  }
  .place__paragraph:first-child {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 400px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
  }
  .place__paragraph:first-child {
    margin-bottom: 24px;
  }
}